        <!-- Single function starts here-->
        <div class="row function-row">
          <div class="col-xs-10 col-md-10 col-lg-10 function-name">
            <%= @name %>
          </div>
          <div class="col-xs-2 col-md-2 col-lg-2 text-right">
            <%= @displayable_coverage %> <span><div class="circle-sm" style="background-color: <%= @coverage_color %>;"></div></span>
          </div>
        </div>
        <!-- Single function ends here -->
